/* Gaye Başlangıç */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #16171F;
}

::-webkit-scrollbar-thumb {
  background: #3E3F4E;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #635FC7;
}

* {
  scrollbar-color: #3E3F4E #16171F;
  scrollbar-width: thin;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2B2C37;
  padding-inline: 16px;
}

.logo {
  width: 25px;
  height: 25px;
  padding-block: 20px;
}

.dropdown-icon {
  transition: transform 0.3s ease;
}

.dropdown-icon.rotated {
  transform: rotate(180deg);
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 22.68px;
  letter-spacing: 0px;
  color: white;
  cursor: pointer;
  padding-block: 20px;
  background-color: #2B2C37;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  width: 264px;
  background-color: #2B2C37;
  border-radius: 8px;
  padding-block: 16px;
  padding-right: 24px;
  box-shadow: 0px 10px 20px 0px #364E7E40;
  border: none;
  margin-inline: auto;
  margin-block: auto;

  p {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 2.4px;
    color: #828FA3;
    margin-bottom: 19px;
    margin-left: 24px;
  }

  li {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-block: 15px;
    padding-left: 24px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 24px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;
    letter-spacing: 0px;
  }

  a:hover {
    color: #dfe6e9;
  }
}

.menu-title {
  font-size: 12px;
  color: gray;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.dropdown-menu li.active {
  background-color: #6c5ce7;
  color: #FFFFFF;
}

.dropdown-menu li {
  color: #828FA3;
}

.dropdown-menu a.new-board {
  color: #635FC7;
}

/* Toggle */
.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.toggle-btn {
  width: 40px;
  height: 20px;
  background-color: gray;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle-btn.dark {
  background-color: #6c5ce7;
  justify-content: flex-end;
}

.toggle-btn.light {
  background-color: gray;
  justify-content: flex-start;
}

.toggle-circle {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
}

.empty-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;

  h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: 0px;
    color: #828FA3;
    
  }
  
  button {
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;
    letter-spacing: 0px;
    color: white;
    background-color: #635FC7;
  }
}

.btns-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  a {
    background-color: #635FC7;
    border-radius: 24px;
    padding: 10px 18px;
    cursor: pointer;
  }

  button {
    cursor: pointer;
    background: none;
    border: none;
  }
}

/* Gaye Bitiş */


/* irem baslangıc */

.new-task-dialog-container {
  padding: 24px;

  h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: 0px;
    margin-bottom: 24px;
  }
  h4 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 0px;
    margin-bottom: 8px;
  }

  input, textarea {
    background-color: inherit;
    border: 1px solid #828FA340;
    width: 100%;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0px;
    color: #FFFFFF;
    outline: none;
  }
  
  input::placeholder,
  textarea::placeholder {
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.25;
  }

  input:focus, textarea:focus {
    border: 1px solid #635FC7;
  }
}

.newtask-title-section {
  margin-bottom: 24px;
}
.newtask-description-section {
  margin-bottom: 24px;
}
.newtask-subtasks-section {
  margin-bottom: 24px;
}
.flex  {
  input {
    margin-bottom: 12px;
  }
 
}
.subtask-input {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;

}

.closeBtn {
  background: inherit;
  border: none;
}

.addnew-subtask-btn {
  width: 100%;
  padding-block: 8px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  color: #635FC7;

}

.newtask-status-section {
  margin-bottom: 24px;
  select {
    width: 100%;
    padding: 8px 16px;
    background: inherit;
    border: 1px solid #828FA340;
    color: #FFFFFF;
  }
  h4 {
    margin-bottom: 8px;
  }
}

.create-task-btn {
  width: 100%;
  padding-block: 8px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #635FC7;
  color: #FFFFFF;
}

.detail-container {
  background-color: #2B2C37;
  padding: 24px;
}

.detail-container h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22.68px;
  letter-spacing: 0px;
  margin-bottom: 24px;

}

.detail-container p {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  color: #828FA3;
  margin-bottom: 24px;

}

.detail-container h2 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15.12px;
  letter-spacing: 0px;
  margin-bottom: 16px;

}

.title-setting-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    background: none;
    background-color: inherit;
    border: none;
  }
}

.dropdown-wrapper {
  position: relative; 
  display: inline-block; 
}

.task-dropdown {
  position: absolute;
  top: 100%; 
  transform: translateX(-50%);
  background-color: #20212C;
  border-radius: 8px;
  padding: 8px 0;
  width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.task-dropdown-item {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: #828FA3;
  padding: 8px 16px;
  text-align: left;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.task-dropdown-item:hover {
  background-color: #2B2C37;
}

.task-dropdown-item.delete {
  color: #EA5555;
}

.task-dropdown-item.delete:hover {
  background-color: rgba(234, 85, 85, 0.2);
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 23, 31, 0.9); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 1000;
  padding-inline: 24px;
}

.delete-dialog {
  background-color: #20212C;
  padding: 24px;
  border-radius: 6px;
  width: 100%;
  max-width: 400px; /* Maksimum genişlik */
}

.delete-dialog h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22.68px;
  color: #EA5555;
  margin-bottom: 24px;
}

.delete-dialog p {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: #828FA3;
}

.delete-dialog-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.delete-dialog-delete {
  background-color: #EA5555;
  color: #FFFFFF;
  padding-block: 8px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  border: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;


}

.delete-dialog-delete:hover {
  background-color: #FF9898;
}

.delete-dialog-cancel {
  background-color: white;
  color: #635FC7;
  padding-block: 8px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  border: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;

}

.delete-dialog-cancel:hover {
  background-color: #D44343;
}



.detail-checkbox {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #20212C;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.detail-checkbox input[type="checkbox"] {
  accent-color: #635FC7; 
  cursor: pointer;
}

.detail-checkbox input[type="checkbox"]:checked + li {
  color: #FFFFFF;
  opacity: 0.50;
  text-decoration: line-through;
}

.detail-checkbox input[type="checkbox"]:checked {
  background-color: #635FC7;
}

.detail-checkbox.checked {
  background-color: #6c5ce7; 
}

.detail-checkbox-completed {
  margin-bottom: 24px;
}






/* irem bitis */



/* Akif Başlangic */

/* NewBoard Component baslangic */

.new-board-container {
  margin-top: 40px;
  background-color: rgba(43, 44, 55, 1);
  padding: 24px;
  margin-inline: 16px;
  margin-bottom: 100px;
  border-radius: 6px;

  h2 {
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.68px;
    margin-bottom: 24px;
  }

  label {
    color:white;
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 0px;
  }

  input {
    background-color: inherit;
    border: 1px solid #828FA340;
    width: 100%;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0px;
    color: #FFFFFF;
    outline: none;
    border-radius: 4px;
    margin-bottom: 24px;
    margin-top: 4px;
  }

  input::placeholder {
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.25;
  }

  input:focus {
    border: 1px solid #635FC7;
  }
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 16px;
}

.button-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 12px;

  button {
    width: 100%;
    padding-block: 8px 9px;
    border: none;
    border-radius: 20px;
  }
}

.button-area button:nth-child(1) {
  background-color: white;
  color: rgba(99, 95, 199, 1);
}

.button-area button:nth-child(2) {
  background-color: rgba(99, 95, 199, 1);
  color: white;
}

.board-content {
  padding-left: 16px;
}

.board-columns {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.board-column {
  scroll-snap-align: start;
}

.board-column h3 {
  color: rgba(130, 143, 163, 1);
  font-weight: 700;
  font-size: 12px;
  line-height: 15.12px;
  letter-spacing: 2.4px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.task-card {
  padding: 23px 16px;
  background-color: rgba(43, 44, 55, 1);
  width: 280px;
  border-radius: 8px;

  h4 {
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;
    letter-spacing: 0px;
    margin-bottom: 8px;
    
  }

  h6 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 0px;
    color: #828FA3;
  }
}

.tasks {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

/* Akif Bitiş */

@media (width >= 768px) {
  .header-logo-area {
    display: flex;
    align-items: center;
    gap: 15.76px;
  }
}

@media (width >= 1110px) {

}